beautifulsoup4==4.12.2
Django==5.2.4
django-anymail[sendgrid]==11.1
django-appconf==1.0.5
django-tinymce==4.1.0
django-compressor==4.5.1
django-grappelli==5.0.0
gunicorn==22.0.0
Pillow==10.4.0
psycopg2-binary==2.9.9
